.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: 10vh auto;
  padding: 1rem;
  border-radius: 10px;
  background: linear-gradient(#b4eda8, #f3da96);
  box-shadow: 10px 10px 10px #b4eda8;
}

.title {
  font-size: 32px;
  margin-block: 1vh;
}

.start {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  width: 90%;
  margin-top: 1rem;
}

.input {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f0f0f0;
  transition: border-color 0.3s, background-color 0.3s;
  flex: 1;
}

.input:focus {
  border-color: #7a88d5;
  background-color: #e9f0ff;
  outline: none;
}

.button {
  padding: 10px 30px;
  background-color: #ced3e4;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, ease-in-out;
}

.button:hover {
  background-color: #98b3ff;
}

.button:active {
  transform: scale(1.1);
}

@media(max-width: 400px) {
  .container {
    width: 100%;
    max-width: 350px;
  }
  .title {
    font-size: 48px;
    text-align: center;
  }
  .start {
    flex-wrap: wrap;
  }
  .input {
    width: 80%;
    padding: 20px 30px;
    text-align: center;
  }
  .button {
    display: flex;
    justify-content: center;
    width: 80%;
    padding: 20px 30px;
    background-color: #a9f19b;
  }
}